<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/camp-manage.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-5">
        <div class="row">
          <div class="col-md-3">
            <div class="section-img col-7 ml-4">
              <img src="../images/container/Group.png" alt="" />
            </div>
          </div>
          <div class="col-md-9">
            <p class="t-intro">
              No campaigns to manage. You need to create a campaign to manage the
              respective campaigns.
            </p>
            <a href="camp-new-NPS.html" class="t-btn t-btn-primary-tertiary mt-5 ml-0 p-0">
              Create New Capmaign
            </a>
          </div>
        </div>
      </div>
  </body>
</html>
