<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/camp-new.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-5">
      <div class="t-h2">Automate Review Collection</div>
      <p class="t-intro">
        You can automate Collection by sending us a copy of your Order
        Confirmation / Acknowledgement Emails.
      </p>
      <div class="row border-secondary mt-5 mb-5 p-4 pt-5 pb-5">
        <div class="col-md-3">
          <div class="section-img col-7 mr-4">
            <img src="../images/campaign/Group 160.png" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <h3 class="t-h3">Email BCC Method</h3>
          <p class="t-para">
            Add *momentumdojo-com@b2b.trustmetrics.io* to BCC email recipients
            for your order confirmation/acknowledgement emails. The automated
            email must include the customers Name and Email Address. You will
            get an option to select the number of days after which this
            automation will trigger once your customer receives the order
            confirmation/acknowledgement email
          </p>
          <div class="mt-5">
            <a class="t-btn t-btn-primary mr-4">
              &#9734; Continue With CSAT Email BCC
            </a>
            <a class="t-btn t-btn-secondary">
              &#9862; Continue With NPS Email BCC
            </a>
          </div>
        </div>
      </div>
      <div class="row border-primary mt-5 mb-5 p-4 pt-5 pb-5">
        <div class="col-md-3">
          <div class="section-img col-7">
            <img src="../images/campaign/undraw_click_here_2li1 1.png" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <h3 class="t-h3">API</h3>
          <p class="t-para">
            Read our <a href="#">API Documentation</a> on how to integrate your
            website or app to send NPS or CSAT from your own app triggers or
            workflows.
          </p>
          <button class="t-btn t-btn-primary-tertiary p-0">Coming Soon</button>
        </div>
      </div>
    </div>
  </body>
</html>
