<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/camp-new.css" />
    <link rel="stylesheet" href="../"> 
    <script src="../vendor/jquery.min.js"></script>
    <script src="../vendor/bootstrap-tagsinput.js"></script>
    <script src="../vendor/bootstrap.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-4 pl-5 pr-5">
      <div class="row border-bottom">
        <div class="col-md-7">
          <p class="t-intro">
            Campaign Name
            <img src="../images/container/24/basic/pencil-create.svg" />
          </p>
          <p class="t-tag">
            Give your campaign an internal name to help organize and locate it
            easily within your account. For example: 'Feedback_October'
          </p>
        </div>
        <div class="col-md-5 align-items-center d-flex">
          <p class="ml-auto mr-4 t-intro-2">
            <img src="../images/container/Rectangle 292.png" />NPS Manual
            Campaign
          </p>
        </div>
      </div>

      <div class="row border-bottom align-items-center d-flex">
        <div class="col-md-7 t-intro-2 non-active">
          <span class="active-tab mr-2 d-inline-block pt-5 border-dark border-bottom pb-5">Setup</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Design</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Recipients</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Confirmation</span>
        </div>
        <div class="col-md-5 align-items-center d-flex">
          <div class="ml-auto">
            <button class="t-btn t-btn-outline-primary">Save & Exit</button>
            <a href="form-design.html" class="t-btn t-btn-primary">Next</a>
          </div>
        </div>
      </div>

      <div class="row border-bottom">
        <div class="col-12">
          <form class="border csat-form mt-3 mb-3 ml-4 mr-4 p-4 pl-5 pr-5">
            <div class="form-group">
              <label class="t-para-bold">Subject Line</label>
              <input
                type="text"
                class="form-control t-input"
                placeholder="Feedback-Car-Insurance-October"
              />
            </div>
            <div class="form-group mt-5">
              <label class="t-para-bold">From Name</label>
              <input
                type="text"
                class="form-control t-input"
                placeholder="Shane Thomspson"
              />
            </div>
            <div class="form-group mt-5">
              <label class="t-para-bold">Reply To</label>
              <input
                type="text"
                class="form-control t-input"
                placeholder="shane@bizay.com"
              />
            </div>
            <div class="form-group mt-5">
              <label class="t-para-bold">From Email</label>
              <input
                type="text"
                class="form-control t-input"
                placeholder="This will always be your-biz@trustnps.io"
              />
            </div>

            <fieldset class="form-group mt-5">
              <div class="row">
                <legend class="col-form-label col-sm-2  t-para-bold pt-0">Frequency</legend>
                <div class="col-sm-3 p-0">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios1"
                      value="option1"
                      checked
                    />
                    <label class="form-check-label" for="gridRadios1">
                      One-time
                    </label>
                  </div>
                </div>
                <div class="col-sm-3 p-0">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios2"
                      value="option2"
                    />
                    <label class="form-check-label" for="gridRadios2">
                      Recurring: Every Quarter
                    </label>
                  </div>
                </div>
                <div class="col-sm-3 p-0">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios3"
                      value="option3"
                    />
                    <label class="form-check-label" for="gridRadios3">
                      Recurring: Every 6 months
                    </label>
                  </div>
                </div>
                <div class="col-sm-2 p-0"> </div>
                <div class="col-sm-3 p-0 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios4"
                      value="option3"
                    />
                    <label class="form-check-label" for="gridRadios4">
                      Recurring: Every Year
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="form-group row mt-5">
              <label for="inputEmail3" class="col-sm-1 col-form-label t-para-bold">Tags</label>
              <div class="col-sm-10">
                <input type="text" value="One Time, Car Insurance"  data-role="tagsinput">
              </div>
              <span class="t-para-bold mt-2 ">+ Add</span>
            </div>

          </form>
        </div>
      </div>

      <div class="row border-bottom pt-4 pb-4 align-items-center d-flex">
        <a class="t-btn t-btn-primary-tertiary" disabled>&#8249; Back</a>
        <a href="form-design.html" class="t-btn t-btn-outline-primary ml-auto">Next</a>
      </div>
    </div>
  </body>
</html>
