<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/camp-new.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-5">
      <h2 class="t-h2">Create New Campaign</h2>
      <div class="row border-secondary mt-5 mb-5 p-4 pt-5 pb-5">
        <div class="col-md-3">
          <div class="section-img">
            <img src="../images/undraw_voting_nvu7 1.png" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <h3 class="t-h3">Manual</h3>
          <p class="t-intro">
            This allows you to upload a list of contacts and send out a request
            to respond to your CSAT survey. You can send the request just
            one-time or can configure it to send it to them on a recurring basis
            - quarterly, bi-annually or annually.
          </p>
          <div class="mt-5">
            <a href="./camp-new-NPS.html" class="t-btn t-btn-primary mr-3">
              CSAT One Time Campaign
            </a>
            <a href="camp-new-NPS.html" class="t-btn t-btn-secondary">NPS One Time Campaign</a>
          </div>
        </div>
      </div>

      <div class="row border-primary mt-5 mb-5 p-4 pt-5 pb-5">
        <div class="col-md-3">
          <div class="section-img">
            <img src="../images/undraw_email_campaign_qa8y 1.png" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <h3 class="t-h3">Automation</h3>
          <p class="t-intro">
            This allows you to set up an automated way of sending CSAT requests
            to your contacts who engage, purchase or share their contact
            information with your company.
          </p>
          <div class="mt-5">
            <a href="#" class="t-btn t-btn-primary mr-3">
              CSAT One Time Campaign
            </a>
            <a href="camp-new-auto-NPS.html" class="t-btn t-btn-secondary">NPS One Time Campaign</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
