<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/camp-new.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-4 pl-5 pr-5">
      <div class="row">
          <div class="col-md-6">
              <h2 class="t-h2">Manage Campaigns</h2>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
              <button class="t-btn btn-dark mr-3">CSAT</button>
              <button class="t-btn btn-light mr-5">NPS</button>
              <button class="t-btn t-btn-primary">Create New Campaign</button>
          </div>
      </div>
      <div class="row py-4 mt-3">
          <div class="col-12 table-container p-0">
              <div class="d-flex justify-content-end p-3">
                <div class="search">
                    <img src="../images/search (1) 1.png" />
                    <input type="text" class="t-input" placeholder="Search Campaign" />
                  </div>
              </div>
              <div class="table-responsive">
                  <table class="table">
                      <caption class="table-foot">
                          <div class="d-flex justify-content-end p-4">asdf</div>
                      </caption>
                      <thead class="table-head">
                          <th class="p-4">Campaign Name</th>
                          <th class="p-4">Status</th>
                          <th class="p-4">Date Created</th>
                          <th class="p-4">Recepients</th>
                          <th class="p-4">Open %</th>
                          <th class="p-4">Reviews</th>
                          <th class="p-4">Average Rating</th>
                          <th class="p-4">Frequency</th>
                          <th class="p-4 pr-0">Actions</th>
                      </thead>
                      <tbody>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                              <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                          <tr>
                              <td>car-insurance</td>
                              <td><span class="badge badge-primary">Active</span></td>
                              <td>20-Jun-2020 </td>
                              <td>300</td>
                              <td class="text-warning">25%</td>
                              <td>75</td>
                              <td class="text-success">4.66/5</td>
                              <td>One-Time</td>
                            <td class="text-center"><span><img src="../images/campaign/Doted.png"></span></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>
