<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <link rel="stylesheet" href="../styles/container.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container p-4 pl-5 pr-5">
      <div class="row border-bottom">
        <div class="col-6">
          <h3>Campaign Name <img src="../images/container/24/basic/pencil-create.svg" /></h3>
          <p>
            Give your campaign an internal name to help organize and locate it
            easily within your account. For example: 'Feedback_October'
          </p>
        </div>
        <div class="col-6 align-items-center d-flex">
            <p class="ml-auto mr-4"><img src="../images/container/Rectangle 292.png">NPS Manual Campaign</p>
        </div>
      </div>
      <div class="row border-bottom pt-3 pb-3 align-items-center d-flex">
        <div class="col-6">
          <span>Setup</span>
          <span>></span>
          <span>Design</span>
          <span>></span>
          <span>Recipients</span>
          <span>></span>
          <span>Confirmation</span>
        </div>
        <div class="col-6 align-items-center d-flex">
            <p class="ml-auto mr-4"><img src="../images/container/Rectangle 292.png">NPS Manual Campaign</p>
        </div>
      </div>
    </div>
  </body>
</html>
