<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/dash-overview.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-md-3">
          <div class="section-img col-7 ml-4">
            <img src="../images/container/shield 1.png" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <p class="t-intro">
            Your email needs to be verified. We have sent a verification email.
            Please click on the confirmation link in that email before you can
            start using your Trustmetrics account.
          </p>
          <button class="t-btn t-btn-primary-tertiary ml-0 p-0">
            Not received an email?
          </button>
          <button class="t-btn t-btn-primary-tertiary ml-0 p-0">
            Click here for us to resend it
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
