<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/form-design-build-email.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-4 pl-5 pr-5">
      <div class="row border-bottom">
        <div class="col-md-6">
          <p class="t-intro">
            Feedback-Car-Insurance-October
            <img src="../images/container/24/basic/pencil-create.svg" />
          </p>
          <p class="t-tag">
            Give your campaign an internal name to help organize and locate it
            easily within your account. For example: 'Feedback_October'
          </p>
        </div>
        <div class="col-md-6 align-items-center d-flex">
          <p class="ml-auto mr-4 t-intro-2">
            <img src="../images/container/Rectangle 292.png" />NPS Manual
            Campaign
          </p>
        </div>
      </div>

      <div class="row border-bottom align-items-center d-flex">
        <div class="col-md-6 t-intro-2 non-active">
          <span class="mr-2 d-inline-block pt-5 pb-5">Setup</span>
          <span class="mr-2">&#x276F;</span>
          <span class="active-tab mr-2 d-inline-block pt-5 pb-5">Design</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Recipients</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Confirmation</span>
        </div>
        <div class="col-md-6 align-items-center d-flex">
          <div class="ml-auto">
            <button class="t-btn t-btn-primary mr-3">Test</button>
            <button class="t-btn t-btn-outline-primary mr-3">
              Email Preview
            </button>
            <button class="t-btn t-btn-outline-primary mr-3">
              Save & Exit
            </button>
            <button class="t-btn t-btn-primary">Next</button>
          </div>
        </div>
      </div>

      <div class="row border-bottom">
        <div class="col-12">
          <div class="border csat-form m-4 mx-5 border-bottom">
            <div class="pt-5 px-5">
                <h2 class="t-h2">Build your Email</h2>
                <img class="img-fluid" src="../images/campaign/Frame.png" alt="" />
            </div>
            <hr />
            <div class="row col-12 py-2 px-5">
                <div class="col-md-10">
                    <p class="t-para-bold">Title</p>
                    <input type="text" class="t-input w-100" placeholder="Your Opinion Matter to Company Name">
                </div>
                <div class="col-md-2">
                        <button class="t-btn t-btn-outline-primary">Update</button>
                </div>
            </div>
            <hr>
          </div>
        </div>
      </div>

      <div class="row border-bottom pt-4 pb-4 align-items-center d-flex">
        <div class="t-btn t-btn-primary-tertiary">&#8249; Back</div>
        <div class="t-btn t-btn-outline-primary ml-auto">Next</div>
      </div>
    </div>
  </body>
</html>
