<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/form-design.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-4 pl-5 pr-5">
      <div class="row border-bottom">
        <div class="col-md-7">
          <p class="t-intro">
            Feedback-Car-Insurance-October
            <img src="../images/container/24/basic/pencil-create.svg" />
          </p>
          <p class="t-tag">
            Give your campaign an internal name to help organize and locate it
            easily within your account. For example: 'Feedback_October'
          </p>
        </div>
        <div class="col-md-5 align-items-center d-flex">
          <p class="ml-auto mr-4 t-intro-2">
            <img src="../images/container/Rectangle 292.png" />NPS Manual
            Campaign
          </p>
        </div>
      </div>

      <div class="row border-bottom align-items-center d-flex">
        <div class="col-md-7 t-intro-2 non-active">
          <span class="mr-2 d-inline-block pt-5 pb-5">Setup</span>
          <span class="mr-2">&#x276F;</span>
          <span class="active-tab mr-2 d-inline-block pt-5 pb-5">Design</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Recipients</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Confirmation</span>
        </div>
        <div class="col-md-5 align-items-center d-flex">
          <div class="ml-auto">
            <button class="t-btn t-btn-outline-primary">Save & Exit</button>
            <a href="form-design-build-email.html" class="t-btn t-btn-primary">Next</a>
          </div>
        </div>
      </div>

      <div class="row border-bottom content-container">
        <div class="col-12">
          <div class="border csat-form m-4 mx-5 p-5">
              <p class="t-h2">Select Template</p>
              <div class="row">

                <div class="card col-md-3 m-4 p-4">
                  <h4 class="t-h4 text-center card-logo-title m-0">Logo</h4>
                  <img class="img-fluid" src="../images/campaign/pngtree-vector-design-background-of-board-meeting-or-management-in-the-office-image_307735 1.png">
                  <div class="card-body p-0 py-5">
                    <h4 class="t-h4 card-title">Hi {First name}</h4>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="card-footer border-top">
                    <h2 class="t-h2">CSAT 1</h2>
                  </div>
                </div>

                <div class="card col-md-3 m-4 mx-5 p-4">
                  <h4 class="t-h4 text-center card-logo-title m-0">Logo</h4>
                  <div class="text-center mt-3">
                    <img class="img-fluid"src="../images/campaign/pngtree-vector-design-background-of-board-meeting-or-management-in-the-office-image_307735 1.png">
                  </div>
                  <div class="card-body p-0 py-5">
                    <h4 class="t-h4 card-title text-center">Hi {First name}</h4>
                    <p class="card-text text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  </div>
                  <div class="card-footer border-top">
                    <h2 class="t-h2">CSAT 2</h2>
                  </div>
                </div>

              </div>
          </div>
        </div>
      </div>

      <div class="row border-bottom pt-4 pb-4 align-items-center d-flex">
        <a href="camp-new-NPS.html" class="t-btn t-btn-primary-tertiary">&#8249; Back</a>
        <a href="form-design-build-email.html" class="t-btn t-btn-outline-primary ml-auto">Next</a>
      </div>
    </div>
  </body>
</html>
