<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/camp-new.css" />
    <link rel="stylesheet" href="../styles/form-confirm.css" />
    <script src="../vendor/jquery.min.js"></script>
    <script src="../vendor/bootstrap.min.js"></script>
    <script src="../scripts/form-design-build-email.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-4 pl-5 pr-5">
      <div class="row border-bottom">
        <div class="col-md-6">
          <p class="t-intro">
            Feedback-Car-Insurance-October
            <img src="../images/container/24/basic/pencil-create.svg" />
          </p>
          <p class="t-tag">
            Give your campaign an internal name to help organize and locate it
            easily within your account. For example: 'Feedback_October'
          </p>
        </div>
        <div class="col-md-6 align-items-center d-flex">
          <p class="ml-auto mr-4 t-intro-2">
            <img src="../images/container/Rectangle 292.png" />NPS Manual
            Campaign
          </p>
        </div>
      </div>

      <div class="row border-bottom align-items-center d-flex">
        <div class="col-6 t-intro-2 non-active">
          <span class="mr-2 d-inline-block pt-5 pb-5">Setup</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Design</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Recipients</span>
          <span class="mr-2">&#x276F;</span>
          <span class="active-tab mr-2 d-inline-block pt-5 pb-5">Confirmation</span>
        </div>
        <div class="col-6 align-items-center d-flex">
          <div class="ml-auto">
            <button class="t-btn t-btn-outline-primary mr-3">
              Save & Exit
            </button>
          </div>
        </div>
      </div>

<!-- Middle Section -->
      <div class="row">
        <div class="col-12">

          <div class="row m-4 border csat-form">
            <div class="col-12 d-flex flex-column align-items-center sent-box">
                <img src="../images/campaign/undraw_Mail_sent_qwwx 1.png" alt="">
                <p class="t-h2 t-color-primary mt-4">Your campaign is queued and being sent to the recepients. </p>
                <div class="mt-5">
                    <a href="index.html" class="t-btn t-btn-primary">Back To Dashboard</a>
                </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>

