<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/camp-new.css" />
    <link rel="stylesheet" href="../styles/form-design-build-email.css" />
    <link rel="stylesheet" href="../styles/form-recepient.css" />
    <script src="../vendor/jquery.min.js"></script>
    <script src="../vendor/bootstrap.min.js"></script>
    <script src="../vendor/bootstrap-tagsinput.js"></script>
    <script src="../scripts/form-design-build-email.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-4 pl-5 pr-5">
      <div class="row border-bottom">
        <div class="col-md-6">
          <p class="t-intro">
            Feedback-Car-Insurance-October
            <img src="../images/container/24/basic/pencil-create.svg" />
          </p>
          <p class="t-tag">
            Give your campaign an internal name to help organize and locate it
            easily within your account. For example: 'Feedback_October'
          </p>
        </div>
        <div class="col-md-6 align-items-center d-flex">
          <p class="ml-auto mr-4 t-intro-2">
            <img src="../images/container/Rectangle 292.png" />NPS Manual
            Campaign
          </p>
        </div>
      </div>

      <div class="row border-bottom align-items-center d-flex">
        <div class="col-md-6 t-intro-2 non-active">
          <span class="mr-2 d-inline-block pt-5 pb-5">Setup</span>
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Design</span>
          <span class="mr-2">&#x276F;</span>
          <span class="active-tab mr-2 d-inline-block pt-5 pb-5"
            >Recipients</span
          >
          <span class="mr-2">&#x276F;</span>
          <span class="mr-2 d-inline-block pt-5 pb-5">Confirmation</span>
        </div>
        <div class="col-md-6 align-items-center d-flex">
          <div class="ml-auto">
            <button class="t-btn t-btn-primary mr-3" data-toggle="modal" data-target="#testModal">Test</button>
            <span class="position-relative">
              <button class="t-btn t-btn-outline-primary mr-3 preview-button">
                Email Preview
              </button>
              <ul class="position-absolute preview-menu" style="display: none;">
                <li
                  class="border-bottom"
                  data-toggle="modal"
                  data-target="#desktopModal"
                >
                  <img src="../images/campaign/desktop (1) 1.png" />
                  <span class="pl-2">Desktop</span>
                </li>
                <li>
                  <img src="../images/campaign/Group 451.png" />
                  <span class="pl-2">Mobile</span>
                </li>
              </ul>
            </span>
            <button class="t-btn t-btn-outline-primary mr-3">
              Save & Exit
            </button>
            <a href="form-confirm.html" class="t-btn t-btn-primary">Next</a>
          </div>
        </div>
      </div>

      <!-- Recepients -->
      <div class="row border-bottom">
        <div class="col-12">
          <div class="row m-4 border csat-form">
            <div class="col-12">
              <div class="row border-bottom">
                <div class="col-12 px-5 py-3">
                  <h2 class="t-h2">Add Recepients</h2>
                </div>
              </div>

              <div class="row border-bottom">
                <div class="col-12 p-5">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label
                          for="contacts"
                          class="form-control-label t-para-bold color-para"
                        >
                          Select Contacts From an Existing List
                        </label>
                        <select
                          type="text"
                          class="t-input w-100"
                          placeholder="Choose A Recepient List"
                        ></select>
                      </div>
                    </div>
                    <label class="t-intro color-intro ml-4 mr-4 mt-4 p-2">or</label>
                    <div class="col-4">
                      <label class="t-para-bold color-para w-100">Upload a New List of Contacts</label>
                      <span
                        class="t-para t-color-primary d-inline-block border p-3 browse-button"
                        data-toggle="modal" data-target="#browseModal"
                        >+ Browse</span
                      >
                    </div>
                    <div class="col-6 mt-md-3">
                      <div class="form-group">
                        <label
                          for="contacts"
                          class="form-control-label t-para-bold color-para"
                        >
                          Select Tags
                        </label>
                        <select
                          class="t-input w-100"
                          data-role="tagsinput"
                          multiple
                        >
                          <option value="Car Insurance">Car Insurance</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row p-5 mt-3">
                <div class="col-12 table-container p-0 border">
                  <div class="p-3 d-flex align-items-center justify-content-between">
                    <input type="checkbox" name="" id="">
                    <div><img src="../images/campaign/Filter.png" alt=""><span class="t-para">Filter By</span></div>
                    <select class="t-input" style="width: 12%;">
                      <option value="" selected>Tags</option>
                    </select>
                    <select class="t-input" style="width: 20%;">
                      <option value="" selected>Source</option>
                    </select>
                    <div class="search">
                      <img src="../images/search (1) 1.png" />
                      <input
                        type="text"
                        class="t-input"
                        placeholder="Search Campaign"
                      />
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <caption class="table-foot">
                        <div class="d-flex align-items-center justify-content-end p-2">
                          <span class="t-para" style="color: #757C97;">Rows Per Page</span>
                          <select name="" id="" class="t-input pl-0">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </div>
                      </caption>
                      <thead class="table-head">
                        <th class="p-4">Email</th>
                        <th class="p-4">Contact Name</th>
                        <th class="p-4">List</th>
                        <th class="p-4">Tags</th>
                        <th class="p-4">Phone</th>
                        <th class="p-4">Order</th>
                        <th class="p-4">Created</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>gia@tom.com</td>
                          <td>Giacomo Guilizzoni</td>
                          <td>xxxx-2020-02-10\rE-</td>
                          <td>
                            <span class="badge badge-success"
                              >Car Insurance</span
                            >
                          </td>
                          <td>956000221</td>
                          <td>#23</td>
                          <td>2020-02-09</td>
                        </tr>
                        <tr>
                          <td>gia@tom.com</td>
                          <td>Giacomo Guilizzoni</td>
                          <td>xxxx-2020-02-10\rE-</td>
                          <td>
                            <span class="badge badge-success"
                              >Car Insurance</span
                            >
                          </td>
                          <td>956000221</td>
                          <td>#23</td>
                          <td>2020-02-09</td>
                        </tr>
                        <tr>
                          <td>gia@tom.com</td>
                          <td>Giacomo Guilizzoni</td>
                          <td>xxxx-2020-02-10\rE-</td>
                          <td>
                            <span class="badge badge-success"
                              >Car Insurance</span
                            >
                          </td>
                          <td>956000221</td>
                          <td>#23</td>
                          <td>2020-02-09</td>
                        </tr>
                        <tr>
                          <td>gia@tom.com</td>
                          <td>Giacomo Guilizzoni</td>
                          <td>xxxx-2020-02-10\rE-</td>
                          <td>
                            <span class="badge badge-success"
                              >Car Insurance</span
                            >
                          </td>
                          <td>956000221</td>
                          <td>#23</td>
                          <td>2020-02-09</td>
                        </tr>
                        <tr>
                          <td>gia@tom.com</td>
                          <td>Giacomo Guilizzoni</td>
                          <td>xxxx-2020-02-10\rE-</td>
                          <td>
                            <span class="badge badge-success"
                              >Car Insurance</span
                            >
                          </td>
                          <td>956000221</td>
                          <td>#23</td>
                          <td>2020-02-09</td>
                        </tr>
                        <tr>
                          <td>gia@tom.com</td>
                          <td>Giacomo Guilizzoni</td>
                          <td>xxxx-2020-02-10\rE-</td>
                          <td>
                            <span class="badge badge-success"
                              >Car Insurance</span
                            >
                          </td>
                          <td>956000221</td>
                          <td>#23</td>
                          <td>2020-02-09</td>
                        </tr>
                        <tr>
                          <td>gia@tom.com</td>
                          <td>Giacomo Guilizzoni</td>
                          <td>xxxx-2020-02-10\rE-</td>
                          <td>
                            <span class="badge badge-success"
                              >Car Insurance</span
                            >
                          </td>
                          <td>956000221</td>
                          <td>#23</td>
                          <td>2020-02-09</td>
                        </tr>
                        <tr>
                          <td>gia@tom.com</td>
                          <td>Giacomo Guilizzoni</td>
                          <td>xxxx-2020-02-10\rE-</td>
                          <td>
                            <span class="badge badge-success"
                              >Car Insurance</span
                            >
                          </td>
                          <td>956000221</td>
                          <td>#23</td>
                          <td>2020-02-09</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row border-bottom pt-4 pb-4 d-flex">
        <a
          href="form-design-build-email.html"
          class="t-btn t-btn-primary-tertiary"
          >&#8249; Back</a
        >
        <a href="form-confirm.html" class="t-btn t-btn-outline-primary ml-auto"
          >Next</a
        >
      </div>
    </div>
  </body>
</html>

<!-- Test email Modal -->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
  <div class="modal-dialog test-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title t-h3 px-5 py-3" id="testModalLabel">Send Test Email</h3>
        <button type="button" class="close mt-2 mr-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-5 pt-3">
        <p class="t-para-bold mt-4">Type Emails (Seperated by commas)</p>
        <input type="text" class="t-input form-control p-4" placeholder="Shanethompson@gmail.com">
        <div class="col-4 mt-4 ml-auto">
          <button type="button" class="t-btn t-btn-primary">Send Test Email</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Browse Modal -->
<div class="modal fade" id="browseModal" tabindex="-1" role="dialog" aria-labelledby="browseModalLabel" aria-hidden="true">
  <div class="modal-dialog browse-modal" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 5.5rem">
        <h1 class="t-h1 mb-5">New List Upload</h1>
        <p class="t-intro browse-text text-center p-5">Drag Files Here or <a href="#" class="t-color-primary">Browse</a></p>
        <p class="t-para-bold color-para">CSV file should have FirstName, LastName, Email, 
          Tags (optional), Order ID (Optional), Phone (optional)</p>
          <div class="row mt-4">
            <div class="col-6">
              <a href="#" class="t-color-primary">Download sample here</a>
            </div>
            <div class="col-6 d-flex">
              <div class="ml-auto">
                <button class="t-btn t-btn-primary">Upload</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

