.section-img {
    /* padding: 2rem 1rem;
    background: #F0F6FD;
    border-radius: 1rem; */
  }
  .container-fluid {
    background: #fefefe;
    box-shadow: 4px 4px 10px rgba(204, 208, 237, 0.15),
      -2px -2px 10px rgba(204, 208, 237, 0.15);
    border-radius: 12px;
  }
  .border-primary {
      border: 1px solid var(--bg-primary);
  }
  .border-secondary {
      border: 1px solid var(--bg-secondary);
  }