.container {
  background: #fefefe;
  box-shadow: 4px 4px 10px rgba(204, 208, 237, 0.15),
    -2px -2px 10px rgba(204, 208, 237, 0.15);
  border-radius: 12px;
  margin: 16px;
  padding: 45px 16px;
}
.active-tab {
  color: #333951;
  border-bottom: 1px solid var(--bg-dark);
}
.non-active {
  color: #757c97;
}
.csat-form {
  border-radius: 12px;
}
