.container {
  /* width: 1476px; */
  /* height: 1125px; */
  background: #fefefe;
  box-shadow: 4px 4px 10px rgba(204, 208, 237, 0.15),
    -2px -2px 10px rgba(204, 208, 237, 0.15);
  border-radius: 12px;
  margin: 16px 30px;
  padding: 45px 16px;
  flex: 4.5;
}
.section {
  background: #fefefe;
  padding: 45px 16px;
  display: flex;
  margin: 55px 0;
}
.section-img {
  align-self: flex-end;
  padding: 30px;
}
.border-primary {
  border: 1px solid #6cd37d;
}
