.color-para {
  color: #757c97;
}
.color-intro {
  color: #c0ccda;
}
.browse-button {
  cursor: pointer;
  border-radius: 12px;
}
input[type="checkbox"] {
  height: 25px;
  width: 25px;
}
.test-modal {
  max-width: 800px;
  min-width: 800px;
}
.browse-modal {
  max-width: 710px;
  min-width: 710px;
}
.browse-text {
  border: 1px dashed #6CD37D;
}

