.container-fluid {
  background: #fefefe;
  box-shadow: 4px 4px 10px rgba(204, 208, 237, 0.15),
    -2px -2px 10px rgba(204, 208, 237, 0.15);
  border-radius: 12px;
  margin: 0;
  padding: 45px 16px;
}
.active-tab {
  color: #333951;
  border-bottom: 1px solid var(--bg-dark);
}
.non-active {
  color: #757c97;
}
.csat-form {
  border-radius: 12px;
}
.card-logo-title {
  background: linear-gradient(180deg, #005daa 0%, #2987d4 100%);
  color: var(--bg-light);
}
.card {
  background: var(--bg-light);
  border: 1px solid #d6e0ec;
  box-shadow: 10px 10px 15px rgba(198, 198, 198, 0.2),
    -5px -5px 10px rgba(198, 198, 198, 0.15);
  border-radius: 20px;
  min-height: 341px;
  min-width: 200px;
  margin: 100px;
  cursor: pointer;
}
.card-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #505671;
}
.card-text {
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #505671;
}
.card-footer {
  background: var(--bg-light);
  color: var(--bg-primary);
}
.color-primary {
  color: var(--bg-primary);
}
