.active-tab {
  color: #333951;
  border-bottom: 1px solid var(--bg-dark);
}
.non-active {
  color: #757c97;
}
.csat-form {
  border-radius: 12px;
  border: 1px solid #757C97;
}
.email-head {
  background: #e7f0fb;
}
.preview-menu {
  left: 0;
  background: var(--bg-light);
  box-shadow: 10px 10px 15px rgba(198, 198, 198, 0.2),
    -5px -5px 10px rgba(198, 198, 198, 0.15);
  border-radius: 8px;
  z-index: 2;
}
.preview-menu li {
  cursor: pointer;
  padding: 20px 40px 20px 20px;
}
.preview-menu li:hover {
  background: #e7f0fb;
}

.rating-btn {
  padding: 1rem 1.5rem;
  background: #51aaf3;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #fefefe;
}
.response-btn {
  padding: 1rem 1.5rem;
  background: #c0ccda;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #fefefe;
}
.test-modal {
  max-width: 800px;
  min-width: 800px;
}
.schedule-modal {
  max-width: 600px;
  min-width: 600px;
}
.schedule-modal input[type="time"] {
  width: 35%;
}
.modal-content {
  border-radius: 50px;
}

.email-head {
  background: #e6ebf0;
}
.rating-btn {
  padding: 0.8rem 1.1rem;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.sent-box {
  padding: 150px 0;
}